/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
.contenu-principal {
  max-width: 1140px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

.insta-icon {
  height: 20px;
}

#btn {
  font-size: 15px;
  font-weight: 400;
  padding: 7px 30px;
  border: 1px solid #1d6154;
  background-color: #1d6154;
  color: white;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}
#btn:hover {
  background: #0e2f28;
}

/********************************************** Header **********************************************/
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

/********************************************** Section Intro **********************************************/
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

/********************************************** Section Portfolio **********************************************/
#portfolio h2 {
  text-align: center;
  margin-bottom: 1.5em;
  margin-right: 25px;
}

/********************************************** Filtres **********************************************/
.filters-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.filter-button {
  font-family: "Syne";
  font-size: 15px;
  font-weight: 400;
  padding: 5px 30px;
  border: 1px solid #1d6154;
  background-color: white;
  color: #1d6154;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.filter-button:hover {
  background-color: #1d6154;
  color: white;
}

/********************************************** Gallery **********************************************/
.gallery-container-original {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery-container-original img {
  width: 100%;
}

/********************************************** Section Contact **********************************************/
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

/********************************************** Footer **********************************************/
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/********************************************** LoginPage **********************************************/
.body-login-page {
  height: 90vh;
}

.main-login-page {
  margin-top: 100px;
  height: 65vh;
}

.title-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27%;
}

#loginForm label {
  margin-bottom: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#loginForm input {
  margin-bottom: 25px;
  border: none;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
  height: 40px;
  width: 300px;
}

.login-btn {
  font-family: "Work Sans";
}

.mdp {
  margin-top: 25px;
  border-bottom: 1px solid black;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

/********************************************** Message erreur **********************************************/

.error-message {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ffa0a0;
  background-color: #ffdede;
  color: black;
  border-radius: 5px;
  text-align: left;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  margin-bottom: 5px;
}

.error-message::before {
  padding-right: 5px;
  font-weight: bold;
}

/********************************************** Bannière Mode Édition **********************************************/

.edition-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 50px;
  width: 100%;
  color: white;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-container i {
  margin-right: 10px;
}

/********************************************** Section Portfolio Après Connexion **********************************************/

.title-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-portfolio {
  display: flex;
  margin-bottom: 40px;
  cursor: pointer;
}

.icon-portfolio i {
  font-weight: 500;
  font-size: 15px;
  margin-right: 5px;
}

/********************************************** Modal Part 1 **********************************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
}

.title-modal {
  font-size: 25px;
}

.container-close {
  width: 100%;
}

.close-original {
  display: flex;
  justify-content: flex-end;
  color: #000000;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.gallery-container-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 30px 30px;
}

.gallery-item-modal {
  position: relative;
  width: 100%;
  height: auto;
}

.gallery-item-modal img {
  width: 100%;
  height: auto;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.fa-trash-can {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: normal;
}

.container-separation {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separation {
  border-top: 2px solid #e3e3e3;
  width: 85%;
}

.add-img {
  width: 50%;
}

/********************************************** Modal Part 2 **********************************************/
.modal-seconde {
  display: none;
}

.icon-container-seconde {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.close-seconde {
  color: #000000;
  font-size: 28px;
  cursor: pointer;
}

.fa-arrow-left {
  font-size: 20px;
  cursor: pointer;
}

/*----------- Upload IMG -----------*/
.upload-container {
  margin-top: 15px;
  display: flex;
  height: 150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #e8f1f6;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fa-image {
  margin-top: 15px;
  font-size: 60px;
  color: #b9c5cc;
  cursor: pointer;
}

.upload-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background: #b9c5cc;
  color: rgb(48, 102, 133);
  font-size: 15px;
  font-weight: 550;
  border-radius: 25px;
  width: 45%;
  height: 35px;
  cursor: pointer;
}

.infos-upload {
  margin-top: 5px;
  font-size: 11px;
}

/*----------- Formulaire -----------*/
.title-and-catégorie {
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.cointainer-form-title {
  display: flex;
  flex-direction: column;
}
.form-title {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.cointainer-form-title input {
  height: 40px;
  border: none;
  box-shadow: 0px 10px 20px rgba(150, 150, 150, 0.5);
}

.cointainer-form-catégorie {
  display: flex;
  flex-direction: column;
}
.form-catégorie {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.cointainer-form-catégorie select {
  height: 40px;
  border: none;
  box-shadow: 0px 10px 20px rgba(150, 150, 150, 0.5);
  cursor: pointer;
}
